<!DOCTYPE html>
<html>
<head>
	<title>ShineZone</title>	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="UTF-8">
	<link REL="SHORTCUT ICON" HREF="/static/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<meta name="renderer" content="webkit">
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<link href="/static/login/css/login.css" rel="stylesheet" type="text/css">
</head>
<body class="login">
<div class="login_m">
	
			<div style="text-align: center;color:red;vertical-align: middle;font-size: 50px">404 -_-!</div>
</div><!--login_m end-->

<br />
<br />

</body>
</html>